.container {
    display: flex;
    gap: 15px;
    margin-left: 1%;
    margin-top: 2%;
}

.container img {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    margin-right: 50px;
}
.container p {
    width: 80%;
    font-size: 20px;
    color: #333;
}

.container-text {
    display: flex;
    flex-direction: column;
}

.container-text h1 {
    font-weight: bold;
    margin-bottom: 5px;
}

.gradient-text {
    background: linear-gradient(to left, #a100ff, #ff47ff);
    -webkit-background-clip: text; /* Para navegadores basados en WebKit */
    background-clip: text;
    color: transparent; /* Hace el texto transparente para que se vea el gradiente */
    background-size: 150%; /* Aumenta el tamaño del gradiente para que se pueda animar */
    background-position: left; /* Posición inicial del gradiente */
    transition: background-position 0.5s ease-in-out; /* Transición de la posición */
}

.gradient-text:hover {
    background-position: right; /* Mueve el gradiente hacia la derecha */
}

.select-date{
  background-color: #fff;
  color: #333;
  font-family: inherit;
  font-size: 1rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;  
}

.select-date:focus{
  border-color: #d400ff;
}


/* CSS */
.select-date-button {
  background-image: linear-gradient(144deg,#a100ff,#ff47ff);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

#htbChart{
    width: 1200px;
    height: 500px;
    margin-top: -50px;
    margin-left: -25px;
}
