/* Main content container (Hoja estilo Notion) */
.main-container {
    display: flex; /* Usamos flexbox para alinear la barra lateral y el contenido en una fila */
    margin-top: 60px; /* Deja espacio para el navbar */
    padding: 0 20px; /* Asegura un peque침o espacio a los lados */
}

.notion-container {
    max-width:85%; /* Limita el ancho m치ximo */
    margin: 0 auto; /* Centra el contenido en la p치gina */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
}

.alternative-notion-container{
    flex-grow: 1; /* Permite que el contenido principal ocupe el espacio restante */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-left: 30px;
}

.alternative-notion-header{
     margin-bottom: 30px;
}

.alternative-notion-header .top {
    font-size: 32px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-top: 1px;
}

.alternative-notion-header h1 {
    font-size: 32px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.alternative-notion-header p {
    font-size: 18px;
    color: #666;
}

.alternative-notion-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.notion-header {
    margin-bottom: 30px;
}

.notion-header h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.notion-header p {
    font-size: 18px;
}


.alternative-notion-body h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.alternative-notion-body p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.alternative-notion-body ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.alternative-notion-body li {
    margin-bottom: 10px;
    position: relative;
 
}




/* Body styles (Contenido de la hoja) */
.notion-body h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.notion-body p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

/* A침adir un borde sutil entre secciones */
.notion-body {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

h2{
    padding-bottom: 5px;
}

.notion-link{
    color: #d400ff;
    text-decoration: none;
}

.cherry-banner{
    position: relative;
    width: 30%;
    height: 40px;
    border: 4px solid; 
    border-image: linear-gradient(to left, #a100ff, #ff47ff) 1;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    position: relative;
    margin: 20px auto 50px 20px;
    border-radius: 10px;
    text-decoration: none;
    
}

.sidebar {
    width: 270px;
    background: linear-gradient(to bottom, #a100ff, #b700ff, #da00ff, #f000ff, #ff47ff);
    color: white;
    padding: 20px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.sidebar h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar ul li {
    margin-bottom: 10px;
    text-decoration: none; 
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: rgb(0, 0, 0);
    transition: 1s;
    text-decoration: none;
}

table.minimal-table{
  width: 100%;
  max-width: 100%;
  border-collapse: separate; /* para border-radius en celdas */
  border-spacing: 0;
  background: var(--bg);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  overflow: hidden; /* para que radius recorte filas */
  font-size: 0.95rem;
}

/* Encabezado */


/* Encabezado */
table{
  border: 1px solid #dd00ff;
}

th.header{
    background-color: #dd00ff;
}

th{
    color: #eee;
    background-color: #2c2c2c;
}

